.custombuilds{
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}
.computers{
  box-shadow: 0px 7px 7px rgba(0 ,0 ,0 , 0.1);
  margin: 30px;
  padding: 20px;
}

.computers:hover{
  box-shadow: 15px 15px 15px rgba(0 ,0 ,0 , 0.1);
  cursor: pointer;
}

.main-container{
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 15px;
  margin: auto;
}
.computers img{
  width: 400px;
  height: 400px;
}
.desc h4{
  font-size: 24px;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}
.desc p{
  color:black;
}