.navbar{
    background-color: black;
    display: flex;
}
a{
    color: white;
    text-decoration: none;
}
a:hover {
    color: grey; 
    text-decoration:none; 
    cursor:pointer;  
}
#nav_right{
    font-size: 15px;
    padding-left: 18px;
    margin-top: 28px;
    text-align: right;
}

.nav_left{
    font-size: 28px;
    justify-content: left;
    margin-top: 20px;
}
