.navbar{
    background-color: black;
    size: 40px;
    display: flex;
<<<<<<< Updated upstream
    justify-content: center;
=======
    width: 100%;
>>>>>>> Stashed changes
}
a{
    text-decoration: none;
}
a:hover {
    color: grey; 
    text-decoration:none; 
    cursor:pointer;  
}
<<<<<<< Updated upstream
.navbar .nav_right{
=======
#nav_right{
>>>>>>> Stashed changes
    font-size: 15px;
    padding-left: 18px;
    margin-top: 28px;
    justify-content: right;
}

.navbar .nav_left{
    font-size: 28px;
    justify-content: left;
    margin-top: 20px;
}
