<!DOCTYPE html>
<html lang="en">

<!-- nav bar -->
<div>

</div>

{% block content %}
{% endblock %}

<!-- footer -->
<footer>
    <div id="footer">
        <div class="footer-container">
            <h3 class="footer-container-title">Contact Us</h3>
            
            <ul class="footer-list">
                <li class="footer-list-item footer-contact-info">Email: example@example.com</li>
                <li class="footer-list-item footer-contact-info">Phone: 123-456-7890</li>
            </ul>
            
        </div>

    </div>

    <div id="credits">Built By: Team Z | &copy Copyright 2023</div>

</html>