<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- internal css styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
        {% block links %}
        
        {% endblock links %}
    
        <title>{% block titlePage %}
            Base Template
        {% endblock titlePage %}</title>
    </head>

<!-- nav bar -->
<div class="navbar">
    <img id="logo" src="{{ url_for('static', filename='assets/logo.jpg') }}"
        height="70rem">
    <div class="nav_left">
        <a href="{{ url_for('index') }}"><i class="fa fa-fw fa-home"></i>Home |<a>
        <a href="{{ url_for('custombuild') }}">Custom Builds |<a>
        <a href="{{ url_for('cpu') }}">CPU |<a>
        <a href="">Cooling |<a>
        <a href="">GPU |<a>
        <a href="">Motherboard |<a>
        <a href="">Memory |<a>
        <a href="">Storage |<a>
        <a href="">PSU |<a>
        <a href="">Case |<a>
        <a href="">Laptops |<a>
        <a href="">Other<a>
    </div>
    
    <div id="nav_right" >
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('cart') }}">Cart |<a>
            <a href="{{ url_for('user') }}">My Account |</a>
            <a href="{{ url_for('logout') }}">Log Out</a>
        {% else %}
            <a href="{{ url_for('login') }}">Log in/Sign up</a>
        {% endif %}
    </div>      
</div>

{% block content %}

{% endblock %}

<!-- footer -->
<footer>
    <div id="footer">
        <div class="footer-container">
            <h3 class="footer-container-title">Contact Us</h3>
            
            <ul class="footer-list">
                <li class="footer-list-item footer-contact-info">Email: example@example.com</li>
                <li class="footer-list-item footer-contact-info">Phone: 123-456-7890</li>
            </ul>
            
        </div>

    </div>

    <div id="credits">Built By: Team Z | &copy Copyright 2023</div>
<footer>

</html>
