{% extends 'base.html' %}

<!--links-->
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custombuild.css') }}">
{% endblock links %}

<!--title of the page-->
{% block titlePage %}
    Custom Builds
{% endblock titlePage %}

<!--main content of the page-->
{% block content %}
<div class="custombuild">
    <div class="main-container">
        <div class="computers">
            <h3>Desktops</h3>
            <img src="{{ url_for('static', filename='assets/desktop.jpg') }}">
            <div class="desc">
                <p>some random text here</p>
                <h4><a href = "#">Suggested set ups</a></h4>
                <h4><a href = "#">Build your own!!</a></h4>
            </div>
        </div>
        <div class="computers">
            <h3>Laptops</h3>
            <img src="{{ url_for('static', filename='assets/laptop.jpg') }}">
            <div class="desc">
                <p>some random text here</p>
                <h4><a href = "#">Suggested set ups</a></h4>
                <h4><a href = "#">Build your own!!</a></h4>
            </div>
        </div>
        <div class="computers">
            <h3>Edge Computing</h3>
            <img src="{{ url_for('static', filename='assets/edge_computing.jpg') }}">
            <div class="desc">
                <p>some random text here</p>
                <h4><a href = "#">Suggested set ups</a></h4>
                <h4><a href = "#">Build your own!!</a></h4>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}