{% extends 'base.html' %}

<!--links-->
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock links %}

<!--title of the page-->
{% block titlePage %}
    Home Page
{% endblock titlePage %}


<!--main content of the page -->
{% block content %}
<style type="text/css">
    .text{
        width: 100%;
        height: 100vh;
        background: url("../static/assets/gamer pic.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 2vw;
    }

</style>

<div class="text">
    <h1>
        {% if user.is_authenticated %}
        Hello {{ user.f_name }} {{ user.l_name }}
        {% else %}
        Hello Gamers!
        {% endif %}

    </h1>
</div>


{% endblock %}








