{% extends 'base.html' %}

<!--links-->
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cpu.css') }}">
{% endblock links %}

<!--title of the page-->
{% block titlePage %}
    PC Products
{% endblock titlePage %}

<!--main content of the page-->
{% block content %}
<h1>New brand products</h1>
<div class="products-display">
    <div class="main-container">
        {% for product in products %}
        <div class="product">
            {% if product.image %}
            <img src="{{ url_for('static', filename='assets/' + product.image) }}">
            {% else %}
            <img src="{{ url_for('static', filename='assets/prod.jpg') }}">
            {% endif %}
            <div class="product_desc">
                <h3><a href="{{ url_for('product', id=product.id) }}">{{ product.name }}</a></h3>
                <h4>{{ product.description }}</h4>
                <p>${{ product.price }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}