{% extends 'base.html' %}

<!--links-->
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}" alt="product">
{% endblock links %}

<!--title of the page-->
{% block titlePage %}
    Product
{% endblock titlePage %}

<!--main content of the page-->
{% block content %}
<div class="product">
    <div class="img">
        <img src="{{ url_for('static', filename='assets/prod.jpg') }}">
    </div>
    <div class="detail">
        <h1 class="title">{{ product.name }}</h1>

        <p class="price">USD ${{ product.price }}</p>

        <form method="POST">
            <input type="number" name="amount" value="1">
            <button name="add-product">Add to Cart</button>
        </form>
        <p class="des">{{ product.description }}</p>

    </div>
</div>
<div class="comment-session">
    
    <div class="comment-box">
        <form action="{{ url_for('product', id=product.id) }}" METHOD="POST">
            <textarea name="comment" placeholder="Your Message (Max 300 characters)"></textarea>
            <button name="comment-submit">Comment</button>
        </form>
    </div>
    <br/><br/>
    <div class="post-comment">
        {% for text in texts %}
            <div class="list">
                <div class="user">
                    <div class="user-meta">
                        {% if text.user %}
                        <div class="name">{{ text.user.f_name }} {{ text.user.l_name }}</div>
                        {% else %}
                        <div class="name">Guest User</div>
                        {% endif %}
                        <div class="time">{{ text.date_created}}</div>
                    </div>
                </div>
                <div class="comment-post">{{ text.text }}</div>
            </div>
        {% endfor %}
    </div>    
</div>
{% endblock %}