{% extends 'base.html' %}

<!--links-->
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recbuild.css') }}">
{% endblock links %}

<!--title of the page-->
{% block titlePage %}
    Custom Build
{% endblock titlePage %}

<!--main content of the page-->
{% block content %}
<div class="createContainer">

    <div class="title">
        <h1>Our Reccomended Builds</h1>
    </div>
    <!-- loop this div for every new build-->
    {% for cb in builds %}
    <div class="createItems">
            <h1>User's Build</h1>
            <p id="item-list">List all tiems, Ex: Intel i9 13900k, NZXT Z790, Corsair Dominator DDR5, MSI RTX 4090...</p>
            <form action='{{ url_for("rating", user_id=current_user.id, cb_id = cb.id) }}' method="POST"> 
            <button name="rate-1">
                <img src="{{ url_for('static', filename='assets/TerribleRating.png') }}">
                <!--{{ request.args.get('count_1') or count_1 }}-->
                {{ request.args.get('count_1') or "-" }}
            </button>
            <button name="rate-2">
                <img src="{{ url_for('static', filename='assets/BadRating.png') }}">
                {{ request.args.get('count_2') or "-" }}
            </button>
            <button name="rate-3">
                <img src="{{ url_for('static', filename='assets/OkRating.png') }}">
                {{ request.args.get('count_3') or "-" }}
            </button>
            <button name="rate-4">
                <img src="{{ url_for('static', filename='assets/GoodRating.png') }}">
                {{ request.args.get('count_4') or "-" }}
            </button>
            <button name="rate-5">
                <img src="{{ url_for('static', filename='assets/GreatRating.png') }}">
                {{ request.args.get('count_5') or "-" }}
            </button>
            </form>
            <h1 id="Price">Price: $99.99</h1>
            <button name="view-item">View Build</button>
            <button name="add-item">Add to Cart</button>
        </div>
    {% endfor %}     

</div>
    
{% endblock %}