{% extends 'base.html' %}

<!--links-->
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/superuser.css') }}">
{% endblock links %}

<!--title of the page-->
{% block titlePage %}
    Employee
{% endblock titlePage %}

<!--main content of the page-->
{% block content %}

<h1>Admin dashboard</h1>
<div class="SU-dashboard">
    <div class="application">
        <h2>Review rejections</h2>
        {% for application in applications %}
            {% if application.rejected==1 %}
                <div class="list">
                    <div class="user-meta">
                        <ul>
                            <li>
                                <p>{{ application.f_name }} {{ application.l_name }}</p>
                            </li>
                            <li>
                                <p>{{ application.email }}</p>
                            </li>
                            <li>
                                <p>{{ application.address }}</p>
                            </li>
                            <li>
                                <p>{{ application.phone_number }}</p>
                            </li>
                            <li>
                                <p>{{ application.date_registered }}</p>
                            </li>
                            <li>
                                <p><b>Reason</b>: {{ application.memo }}</p>
                            </li>
                        </ul>
                    </div>
                    <form action="{{ url_for('review', id=application.id) }}" method="POST">
                        <button name="aprove-SU">Aprove</button>
                        <button name="disaprove-SU">Disaprove</button>
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="manage_emply">
        <h2>Manage employee</h2>
        <form method="POST">
            <button name="emply">Display Employee</button>
        </form>
    </div>
    <div class="manage-costumers">
        <h2>Manage Costumers</h2>
        <form method="POST">
            <button name="costumer">Display Costumers</button>
        </form>
    </div>
    <div class="manage-products">
        <h2>Manage products</h2>
        <form method="POST">
            <button name="product">Display products</button>
        </form>
    </div>
    <div class="manage-builds">
        <h2>Manage builds</h2>
        <form method="POST">
            <button name="builds">Display Costum Builds</button>
        </form>
    </div>
    <div class="messages">
        <h2>Messages</h2>
    </div>
</div>
    
{% endblock %}