{% extends 'base.html' %}

<!--links-->
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userbuild.css') }}">
{% endblock links %}

<!--title of the page-->
{% block titlePage %}
    Custom Build
{% endblock titlePage %}

<!--main content of the page-->
{% block content %}
<div class="createContainer">

    <div class="title">
        <h1>User Reccomended Builds</h1>
    </div>
    <!-- loop this div for every new build-->
    {% for build in builds %}
    <div class="createItems">
        <h1>{{ build.name }}</h1>
        <p id="item-list">{{ build.category }}</p>
        <h1 id="Price">Price: ${{ build.price }}</h1>
        <form method="POST">
            <input type="hidden" name="build_id" value="{{ build.id }}">
            <button name="view-item">View Build</button>
        </form>
        <form method="POST">
            <input type="hidden" name="build_id" value="{{ build.id }}">
            <button name="add-item">Add to Cart</button>
        </form>
        
    </div>
    {% endfor %}
</div>
{% endblock %}